# secrets
.env
!web/.env

# editor 
.vscode/
.vscode/*
!.vscode/extensions.json

# macOS
.DS_Store
.AppleDouble
.LSOverride
.idea
.DS_Store

#db
server/db_data/content

# rust
server/target/
**/*.rs.bk

# web
web/node_modules/
node_modules
dist
dist-ssr
*.local
