$bg: #fcecbc;
$fg: #fafbff;
$mid: #f3d584;
$contrast: #04152b;
$attention: #a519ff;
$info: #09488a;
$error: #971d00;

$font-color: $contrast;
$font-color-inverted: $fg;
$font-family: "Merriweather", serif;

$max-content-width: 375px;

$font-size-xs: 0.6rem;
$font-size-s: 0.9rem;
$font-size-m: 1rem;
$font-size-l: 1.1rem;
$font-size-xl: 1.8rem;

html {
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: linear-gradient(
      0deg,
      rgba($mid, 0.95) 0%,
      rgba($bg, 0.95) 10%,
      rgba($bg, 0.95) 90%,
      rgba($mid, 0.95) 100%
    ),
    url("/img/noise.jpg");
  background-blend-mode: darken;
  position: relative;
  font-family: $font-family;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
img,
body,
input,
form,
textarea,
button,
main,
html {
  color: $font-color;
  padding: 0;
  margin: 0;
  font-size: $font-size-m;
  box-sizing: border-box;
  word-break: break-word;
  line-height: $font-size-xl;
}

.clickable,
button {
  cursor: pointer;
  user-select: none;
  --webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  &:disabled {
    opacity: 0.5;
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: $max-content-width;
  padding: 2rem 10px;

  h1 {
    font-size: $font-size-xl;
    font-weight: 800;
  }
  h2 {
    font-size: $font-size-l;
    font-weight: bold;
  }
  h3 {
    font-size: $font-size-m;
    font-weight: bold;
  }

  ol,
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0.5rem 0;
    }
    ol,
    ul {
      list-style-type: circle;
      list-style-position: inside;
      li {
        font-size: $font-size-s;
        opacity: 0.8;
      }
    }
  }

  textarea,
  input {
    width: 100%;
    padding: 0.5rem;
    border: solid 1px $contrast;
    font-size: $font-size-s;
    resize: vertical;
    outline: none;
    &:focus {
      border-color: $info;
      border-width: 2px;
    }
  }
}

button.fancy {
  padding: 0.5rem 1rem;
  font-size: $font-size-m;
  border: none;
  background: $attention;
  color: $font-color-inverted;
  font-weight: 800;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0 0 darken($attention, 20%);
  &:active {
    box-shadow: 0 0.1rem 0 0 darken($attention, 20%);
    transform: translateY(0.15rem);
  }
}

hr {
  width: 100%;
  border: none;
  border-top: solid 1px $contrast;
  margin: 1rem 0;
}

.pulsating {
  animation: pulsate 1.5s ease-out infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.item {
  border-bottom: solid 1px $mid;
  &:last-child {
    border-bottom: none;
  }
}
